yarn.lock
/node_modules
/.yarn/
/.next/
/build
*.json
.env.*
/coverage/
/.swc/
/.github/
.yarnrc.yml
*.svg
sonar-project.properties
.eslintignore
.gitignore
.prettierignore
/.husky/
pnpm-lock.yaml
/public/
*.ico
*.css
*.md
tailwind.config.js
.prettierrc.js
jest.setup.js 
next.config.js
postcss.config.js